Acme-Rookies/target/
Acme-Rookies/src/main/resources/Entities.map
Acme-Rookies/.classpath
Acme-Rookies/.project
Acme-Rookies/bin/

Sample Project 1.19/target/
Sample Project 1.19/src/main/resources/Entities.map
Sample Project 1.19/.classpath
Sample Project 1.19/.project
Sample Project 1.19/bin/
